%h3
  = "basic instructions can be seen"
  %a{:href => "https://www.youtube.com/watch?v=GV2xgIWgGVE"} in this video.
%p
%h1 List of students
-# - @users.each do |user|
  %p
    = link_to user.name, user_path(user)
