:sass
  // overides highcharts font size
  .highcharts-title 
    font-weight: bold !important
    font-size: 14px !important

- average_usage_per_week_during_24
= plot_top_custommer_with_usage_per_week
= plot_bottom_custommer_with_usage_per_week


