#notes{ style: "margin: 20px"}
  = "Notes:"
%ul
  %li.list-group-item 
    30-09-17
    The usage consumption from the day before for all the customers is downloaded every day at 12:30am UCT.
  %li.list-group-item 
    When the database is updated (green buttom above) all the information from the Steama database is downloaded into this platform and alerts are created automatically (they can be also added manually).
  %li.list-group-item 
    Whenever a Alert record is created (automatically or manually) a message is sent to a slack channel. 
  %li.list-group-item 
    Current alers created automatically by Ubuntu are:
    %ol
      %li Line is off: An alert is created when a customer gets his/her line off 
      %li Usage exceeded twice the normal average: An alert is created when an user spends more than 0.25kwh in a full day (30kwh/120 customers)
      %li negative account: An alert is created when the account balance is negative
  %li.list-group-item 
    Data from the admin panel can be filtered and downloaded using the 'Export' button
  %li.list-group-item 
    Current database is setup to 140 users and 70 transations per user, please let me know when this number may be exceeded.
  %li.list-group-item 
    Different background jobs are activated at different times during the day. You can see 
    = link_to "here", "/sidekiq"
    here each time that one of those jobs have failed or worked. 
