%ul.list-group
  %li.list-group-item 
    When the database is updated (green buttom above) all the information from the Steama database is downloaded into this platform and alerts are created automatically (they can be also added manually).
  %li.list-group-item 
    Whenever a Alert record is created (automatically or manually) a message is sent to a slack channel. 
  %li.list-group-item 
    Current alers created are:
    %ol
      %li negative_account: An alert is created an account_balance is negative
  %li.list-group-item 
    Data from the admin panel can be filtered and downloaded using the 'Export' button
  %li.list-group-item 
    Current database is setup to 140 users, please let me know when this number may be exceeded.
  %li.list-group-item 
    The 'green button' is activated automatically 3 times a day. You can see 
    = link_to "here", "/sidekiq"
    here each time that the button is clicked automatically. 

.tabs
  %a.tab.active{:href => "#"}
    %h3 Open
    %p 
  %a.tab{:href => "#"}
    %h3 Resolved
    %p 
  %a.tab{:href => "#"}
    %h3 Closed
    %p 