#alerts_graphs
  %p.title-graph 
  = total_alerts_in_time
  %p.title-graph 
  = alerts_by_time
  %p.title-graph 
  -# = alerts_by_group_alert_donut
  %p.title-graph
  = alerts_by_type_alert
  %p.title-graph 
  -# = alerts_by_group_alert
  %p.title-graph
  = top_10_solutions