#customers_graphs
  %p.title-graph 
  = top_10_customers_with_more_usage("asc")
  %p.title-graph
  = top_10_customers_with_more_alerts("asc")
  %p.title-graph
    = "Slect Costumer"
  %br/
  .title-graph{style: "margin: 50px"} 
    = link_to "Generate Individual Report", graph_costumer_path, class: 'btn btn-primary btn-lg margin width-buttom', id: "usages-1"