%p.title-graph Total Alerts
= alerts_by_user
%p.title-graph Assigned Alerts
= alerts_by_user_in_time("alerts.created_at") 
%p.title-graph Resolved alerts
= alerts_by_user_in_time("alerts.resolved_at") 
%p.title-graph Alerts created by user
= alerts_created_by_user