:sass
  .title-graph 
    font-weight: bold
    text-align: center
    margin: 40px
  
  .nav-tabs > li
    float: none
    display: inline-block
    zoom: 1

  .nav-tabs 
    text-align: center

.center{style: "margin-bottom: 50px"}
  %h1

#show_my_alerts
#exTab2.container
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#1"} Alerts 
    %li
      %a{"data-toggle" => "tab", :href => "#2"} Users
    %li
      %a{"data-toggle" => "tab", :href => "#3"} Customers
  .tab-content
    #1.tab-pane.active
      = render partial: 'alerts_graphs'
    #2.tab-pane
      = render partial: 'users_graphs'
    #3.tab-pane
      = render partial: 'customers_graphs'

- content_for :bottom_js do
  -# Boostrap is not compatible with nav-tabs and chart.js https://github.com/ankane/chartkick/issues/28 && https://github.com/chartjs/Chart.js/issues/512
  :javascript
  
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var chart = Chartkick.charts["alerts-by-user"]
      chart.redraw();
      var chart = Chartkick.charts["alerts-by-user-in-time"]
      chart.redraw();
      var chart = Chartkick.charts["total-alerts-in-time"]
      chart.redraw();
    });
      